@model LoaiXeModel.SoDoGheXeModel
@using Nop.Web.Models.NhaXes
@using Nop.Core.Domain.Chonves
@using Nop.Core.Domain.NhaXes;
<input type="hidden" id="datveidselected" />
@if (Model.SoTang == 1)
{
    <div style="border:1px solid #0e6780">
        <table style="width:100%">
            <tr>
                <td>

                    @SoDoGhe(1)

                </td>
            </tr>
        </table>
    </div>
}
else
{

    <div id="tabstripSoDoChuyenVe_@((int)Model.PhanLoai)" style="border:none">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                <img src="/Content/chonve/nhaxe/giuongnam.png" />
                &nbsp;&nbsp;&nbsp;<span style="font-size:14pt;font-weight:bold">@T("ChonVe.LoaiXe.LoaiXe.ChonSoDoGhe.Tang") 1</span>&nbsp;&nbsp;
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                <img src="/Content/chonve/nhaxe/giuongnam2.png" />
                &nbsp;&nbsp;&nbsp;<span style="font-size:14pt;font-weight:bold">@T("ChonVe.LoaiXe.LoaiXe.ChonSoDoGhe.Tang") 2</span>&nbsp;&nbsp;
            </li>
        </ul>
        <div>
            <table style="width:100%">
                <tr>
                    <td>
                        @SoDoGhe(1)
                    </td>
                    <td style="width:100px;vertical-align:top;">
                        <div style="position:relative;">
                            <div class="cell_lai_xe_giuong_nam">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table style="width:100%">
                <tr>
                    <td>
                        @SoDoGhe(2)
                    </td>
                    <td style="width:100px;vertical-align:top;">
                        <div style="position:relative">
                            <div class="cell_lai_xe_giuong_nam">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
    <script>
        $(document).ready(function () {
            $("#tabstripSoDoChuyenVe_@((int)Model.PhanLoai)").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>
}
@helper SoDoGhe(int tang)
{
    <div class="divquytacsodoghe">
        <table class="quytacsodoghe">
            @for (int c = 1; c < Model.SoCot + 1; c++)
            {
                if (c >= Model.SoCot - 1)
                {
                    <tr class="themghe" style="display:none">
                        @for (int h = Model.SoHang; h >= 1; h--)
                        {
                            @gheInfo(h, c, tang, false)
                        }
                    </tr>
                    if (c == Model.SoCot - 1)
                    {
                        <tr>
                            <td colspan="@Model.SoHang">
                                <button class="btnshowghe">Hiển thị ghế tăng cường</button>

                            </td>
                        </tr>
                    }
                    if (c == Model.SoCot)
                    {
                        <tr>
                            <td colspan="@Model.SoHang">

                                <button class="btnhideghe" style="display:none">Ẩn ghế tăng cường</button>
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        @for (int h = Model.SoHang; h >= 1; h--)
                        {
                            @gheInfo(h, c, tang, false)
                        }
                    </tr>
                }

            }
        </table>
    </div>
}
<script>
    var isshow = true;
    $(document).ready(function () {
        ShowGheTangCuong(isshow);
    });
    function ShowGheTangCuong(isshow) {
        if (isshow) {
            $('.themghe').show();
            $('.btnhideghe').hide();
            $('.btnshowghe').hide();
        }
        else {
            $('.themghe').hide();
            $('.btnhideghe').hide();
            $('.btnshowghe').show();
        }
    }

    $('.btnshowghe').click(function () {
        isshow = true;
        ShowGheTangCuong(isshow);
    });
    $('.btnhideghe').click(function () {
        isshow = false;
        ShowGheTangCuong(isshow);
    });
</script>
@helper gheInfo(int h, int c, int tang, bool inphoi)
{
    var withcol = 100 / Model.SoHang;
    if (inphoi)
    {
        withcol = 100 / Model.SoCot;
    }
    var _class = "quytacsodoghedamua";

    var _classmenucontext = "phoive_menucontext_datve";
    var _classbg = "ghenam_cell_noprint_giuongnam";

    _classbg = "ghenam_cell_noprint_giuongnam";
    if (Model.SoTang == 1)
    {
        _classbg = "ghenam_cell_noprint_ghengoi";
    }
    if (Model.MaTran[h - 1, c - 1] == 1)
    {
        var datveitem = Model.PhoiVes1[h, c];
        //ENTrangThaiPhoiVe tt = Model.PhoiVes1[h, c].Info.TrangThai;
        //var kyhieu = Model.PhoiVes1[h, c].KyHieu;
        //var MaVe = Model.PhoiVes1[h, c].Info.MaVe;
        //var idphoive = Model.PhoiVes1[h, c].Info.Id;
        //var khachhang_name = Model.PhoiVes1[h, c].TenKhachHang;
        //var khachhang_dienthoai = Model.PhoiVes1[h, c].SoDienThoai;
        //var TenChang = Model.PhoiVes1[h, c].TenChang;
        //var VeYeuCauHuy = Model.PhoiVes1[h, c].Info.IsRequireCancel;
        //var GiaVe = Model.PhoiVes1[h, c].GiaVe;
        //var MaMau = Model.PhoiVes1[h, c].MaMau;
        //var ghichu = Model.PhoiVes1[h, c].Info.GhiChu;
        //var diemlenthat = Model.PhoiVes1[h, c].Info.ViTriLenXe;
        //var diemxuongthat = Model.PhoiVes1[h, c].Info.ViTriXuongXe;
        if (tang == 2)
        {
            datveitem = Model.PhoiVes2[h, c];            
        }
        var _actionlink = "javascript:ChonGhe(" + datveitem.Info.Id.ToString() + ");";
        if (Model.PhanLoai == ENPhanLoaiPhoiVe.CHUYEN_VE)
        {
            _actionlink = "javascript:ShowHintMouseRightClick();";
        }
        switch (datveitem.Info.TrangThai)
        {
            case ENTrangThaiPhoiVe.ConTrong:
                {
                    if (Model.PhanLoai == ENPhanLoaiPhoiVe.PHOI_VE)
                    {
                        _actionlink = string.Format("javascript:ShowHintMouseRightClick('{2}');ChonGheDatCho('{0}',{1},false)", datveitem.KyHieu, tang, T("chonve.nhaxe.quanlyphoive.mouserighthint"));
                    }
                    else if (Model.PhanLoai == ENPhanLoaiPhoiVe.CHUYEN_VE)
                    {
                        _actionlink = string.Format("javascript:ChonChuyenVe('{0}',{1})", datveitem.KyHieu, tang);
                    }
                    _classmenucontext = "phoive_menucontext_datve";
                    _class = "";
                    break;
                }
            case ENTrangThaiPhoiVe.DatCho:
                {
                    if (Model.PhanLoai == ENPhanLoaiPhoiVe.PHOI_VE)
                    {
                        _actionlink = string.Format("javascript:HuyGheDatCho('{0}')", datveitem.Info.Id);                        
                    }
                    _class = "ghenam_cell_datve";
                    _classmenucontext = "phoive_menucontext_datve";
                    break;
                }
            case ENTrangThaiPhoiVe.GiuCho:
                {
                    _class = "ghenam_cell_giuve";
                    _classmenucontext = "phoive_menucontext_nghiepvu";
                    break;
                }
            case ENTrangThaiPhoiVe.ChoXuLy:
                {
                    _class = "ghenam_cell_giuve";
                    _classmenucontext = "phoive_menucontext_nghiepvu";
                    break;
                }
            case ENTrangThaiPhoiVe.DaGiaoHang:
                {
                    if (datveitem.Info.IsRequireCancel)
                    {
                        _class = "ghenam_cell_VeYeuCauHuy";
                    }
                    else
                    {
                        _class = "ghenam_cell_thanhtoan";
                    }
                    if (Model.CanYeuCauHuy)
                    {
                        _classmenucontext = "phoive_nghiepvu_YeuCauHuy";
                    }
                    else
                    {
                        _classmenucontext = "phoive_menucontext_nghiepvu";
                    }

                    break;
                }
        }
        if (Model.PhanLoai != ENPhanLoaiPhoiVe.PHOI_VE)
        {
            _classmenucontext = "";
        }
        <td style="width:@withcol%;">
            @if (!string.IsNullOrWhiteSpace(datveitem.KyHieu))
            {
                <div class="@_classmenucontext" data_phoiveid="@datveitem.Info.Id" data_kyhieu="@datveitem.KyHieu" data_tang="@tang" data_trangthai="@((int)datveitem.Info.TrangThai)">
                    <a href="@_actionlink" title="@T("chonve.nhaxe.quanlyphoive.mouserighthint")" style="width:100%;height:100%">
                        <div class="ghenam_cell @_classbg @_class" style="background:@datveitem.MaMau">
                            <div class="ghenam_cell_kyhieu">@datveitem.KyHieu</div>
                            <div class="ghenam_cell_thongtin">
                                @if (datveitem.Info.TrangThai == ENTrangThaiPhoiVe.DaGiaoHang || datveitem.Info.TrangThai == ENTrangThaiPhoiVe.ChoXuLy || datveitem.Info.TrangThai == ENTrangThaiPhoiVe.GiuCho)
                                {
                                    if (@datveitem.Info.MaVe != null)
                                    {
                                        <span> Mã vé: @datveitem.Info.MaVe</span><br />
                                    }
                                    <span>Kh:  @datveitem.TenKhachHang (<span style="color:red;font-weight:bold">@datveitem.SoLuong</span>)</span><br />
                                    if (@datveitem.SoDienThoai != null)
                                    {
                                        <span> Sdt: @datveitem.SoDienThoai</span><br />
                                    }
                                    <span>Chặng: @datveitem.TenChang</span><br />
                                    <span>
                                        Giá: @datveitem.GiaVe
                                        @if (datveitem.Info.TrangThai == ENTrangThaiPhoiVe.DaGiaoHang)
                                        {
                                            <span>Đã TT</span><br />
                                        }
                                        else
                                        {
                                            <span>Chưa TT</span><br />
                                        }
                                        @if (datveitem.Info.GhiChu != "")
                                        {
                                            <span>@datveitem.Info.GhiChu</span><br />
                                        }
                                    </span>
                                }
                                else if (datveitem.Info.TrangThai == ENTrangThaiPhoiVe.DatCho)
                                {
                                    var _timerdatve = datveitem.Info.NgayTao.AddSeconds(300);
                                    <br />
                                    <br />
                                    <span>@datveitem.Info.nguoidatve.HoVaTen đang đặt HD...</span><br />
                                    <p>Thời gian còn : <span name="timerdatve" id="timerdatve_@datveitem.Info.Id" data-datveid="@datveitem.Info.Id"></span></p>
                                    <script>
                                        $(document).ready(function () {
                                            $('#timerdatve_@datveitem.Info.Id').countdown({ until: new Date(@(_timerdatve.Year),@(_timerdatve.Month-1),@(_timerdatve.Day),@(_timerdatve.Hour),@(_timerdatve.Minute),@(_timerdatve.Second)),onExpiry:HuyGheDatChoTimeout, compact: true, layout: '{mn}:{sn}' });
                                        });
                                    </script>

                                }
                            </div>
                            <div id="box_ghe_dat_ve_chon_@datveitem.Info.Id" class="ghenam_cell_select" style="display:none;">
                                <img src="/Content/chonve/nhaxe/tick_green.png" style="width:25px;height:25px;" />
                            </div>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="ghenam_cell ghenam_cell_giuongnam_dis"></div>
            }
        </td>
    }
    else
    {
        <td style="width:@withcol%"></td>
    }
}


<style>
    .divquytacsodoghe {
        width: 100%;
        padding: 2px;
    }

    .quytacsodoghe {
        width: 100%;
    }

        .quytacsodoghe td {
            padding: 0px 5px;
        }

    .ghenam_cell {
        width: 100%;
        position: relative;
        border: solid 1px #bebbbb;
        margin: 2px;
        padding: 2px;
    }

    .ghenam_cell_print {
        height: 100px;
    }

    .ghenam_cell_noprint_giuongnam {
        background: url(/Content/chonve/nhaxe/icon_ghe/giuongnam.png) no-repeat bottom right;
        height: 106px;
    }
    .ghenam_cell_giuongnam_dis {
        background: url(/Content/chonve/nhaxe/icon_ghe/giuongnam_dis.png) no-repeat bottom right;
        width:100%;
        height: 106px;
    }
    .ghenam_cell_noprint_ghengoi {
        /*background: url(/Content/chonve/nhaxe/icon_ghe/ghengoi.png) no-repeat bottom right;*/
        height: 106px;
    }

    .ghenam_cell_datve {
        background-color: rgb(119, 146, 167);
    }

    .ghenam_cell_giuve {
        background: url(/Content/chonve/nhaxe/icon_ghe/giuongnam_chuathanhtoan1.png) no-repeat bottom right;
        /*background-color: rgba(238, 233, 129, 0.25);*/
    }

    .ghenam_cell_thanhtoan {
        background: url(/Content/chonve/nhaxe/icon_ghe/giuongnam_dathanhtoan1.png) no-repeat bottom right;
        /*background-color: rgba(192, 248, 200, 0.25);*/
    }

    .ghenam_cell_VeYeuCauHuy {
        background-color: #f00;
    }

    .ghenam_cell_kyhieu {
        background-color: #0d4862;
        color: white;
        font-size: 12px;
        height: 18px;
        width: 25px;
        position: absolute;
        float: right;
        top: 1px;
        right: 1px;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        padding-top: 3px;
    }

    .ghenam_cell_thongtin {
        font-size: 11px;
        height: 18px;
        width: 25px;
        position: absolute;
        float: left;
        top: 2px;
        left: 3%;
        text-align: left;
        width: 100%;
        color: #082d48;
    }

    .trangthaithanhtoan_chua {
        color: #891515;
        font-weight: bold;
    }

    .trangthaithanhtoan_ok {
        color: #094e0a;
        font-weight: bold;
    }

    .cell_lai_xe_ghe_ngoi {
        /*background: url(/Content/chonve/nhaxe/laixe1.png) no-repeat center;*/
        width: 100px;
        height: 104px;
        position: absolute;
        left: -90px;
        float: right;
    }

    .cell_lai_xe_giuong_nam {
        /*background: url(/Content/chonve/nhaxe/laixe1.png) no-repeat right;*/
        width: 100px;
        height: 104px;
    }

    .TongKetBang {
        width: 100%;
        border: 1px solid #808080;
        border-collapse: collapse;
    }

        .TongKetBang tr, .TongKetBang tr td {
            border: 1px solid #808080;
        }

        .TongKetBang tr {
            height: 40px;
        }
         .ghenam_cell_select {
        height: 25px;
        width: 25px;
        position: absolute;
        float: right;
        bottom: 1px;
        left: 1px;
    }
</style>